body {
    font-family: Verdana, sans-serif;
    background-color: #222;
    margin: 1rem 3rem 3rem 3rem;

}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}

    .blazor-error-boundary::after {
        content: "An error has occurred.";
    }

.loading-progress {
    position: relative;
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 20vh auto 1rem auto;
}

    .loading-progress circle {
        fill: none;
        stroke: #e0e0e0;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }

        .loading-progress circle:last-child {
            stroke: #1b6ec2;
            transition: stroke-dasharray 0.05s ease-in-out;
        }

.loading-progress-text {
    position: absolute;
    text-align: center;
    font-weight: bold;
    inset: calc(20vh + 3.25rem) 0 auto 0.2rem;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "Loading");
    }

.card-container {
    display: inline-block;
    transform-origin: center;
    transform-style: preserve-3d;
    transition: transform 0.3s, z-index 1s;
    position: relative;
    z-index: 0;
    background-color: #fff;
    margin: 0px;
    padding: 0px;
}

.card-container:hover {
    transform: rotate(-5deg) translateY(-30px) scale(2);
    z-index: 1;
}

.card-item {
    display: block;
    line-height: 1;
    border-radius: 5px;
    color: #333;
}

.game-container-1 {
    height: 20vh;
    background-image: linear-gradient(360deg, #2b4b34, #19301e);
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    border: 5px ridge Sienna;
    border-radius: 7px 7px 0px 0px;
    border-bottom: none;
}

.game-container-2 {
    height: 60vh;
    background-image: linear-gradient(180deg, #2b4b34, #19301e);
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    border: 5px ridge Sienna;
    border-top: none;
    border-bottom-right-radius: 750px;
    border-bottom-left-radius: 750px;
}

/* Extra Small screens (xs) */
@media (max-width: 575.98px) {
    * {
        font-size: 14px;
    }

    .card-item {
        margin: -3.5px -1.5px -0.5px -1.5px;
    }
}

/* Small screens (sm) */
@media (min-width: 576px) and (max-width: 767.98px) {
    * {
        font-size: 16px;
    }

    .card-item {
        margin: -5px -1.5px -0.5px -1.5px;
    }
}

/* Medium screens (md) */
@media (min-width: 768px) and (max-width: 991.98px) {
    * {
        font-size: 18px; /* Adjusted this for better progression */
    }

    .card-item {
        margin: -6px -2px -1px -2px; /* Sample adjustment */
    }
}

/* Large screens (lg) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    * {
        font-size: 20px;
    }

    .card-item {
        margin: -8px -3px -1px -3px;
    }
}

/* Extra Large screens (xl) */
@media (min-width: 1200px) and (max-width: 1399.98px) { /* This max-width is for Bootstrap 5 only */
    * {
        font-size: 22px; /* Sample value, adjust as needed */
    }

    .card-item {
        margin: -10px -3.5px -1.5px -3.5px; /* Sample adjustment */
    }
}

/* Extra Extra Large screens (xxl, Bootstrap 5 only) */
@media (min-width: 1400px) {
    * {
        font-size: 24px; /* Sample value, adjust as needed */
    }

    .card-item {
        margin: -12px -4px -2px -4px; /* Sample adjustment */
    }
}

.chip-tray {
    background-image: url(/images/chip-tray.png);
    background-size: auto;
}
