@page "/"
@inject NavigationManager NavManager

<PageTitle>Index</PageTitle>

<div class="container mt-5">
    <h1 class="text-uppercase text-center">- Blackjack -</h1>
    <div class="text-center display-1">
        @for (int i = 0; i < 13; i++)
        {
            <span>@($"{unicodeCards[i]} ")</span>
        }
    </div>
    <p class="lead mt-5">Simple, yet thrilling, blackjack is one of the most popular casino card games worldwide. Often known as "21"; the goal is to beat the dealer without going over 21 points.</p>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="text-uppercase">Rules:</h3>
            <ul class="text-nowrap">
                <li><strong>OBJECTIVE</strong>: Aim for a card total close to 21 but don't exceed it.</li>
                <li><strong>VALUES</strong>: Cards 2-10 are face value, face cards are 10, and Aces are 1 or 11.</li>
                <li><strong>DEAL</strong>: Players get two cards, one hidden. Dealer gets two with one exposed.</li>
                <li><strong>HIT OR STAND</strong>: Players can "hit" for an extra card or "stand". Over 21 is a "bust".</li>
                <li><strong>DEALERS TURN</strong>: Dealer reveals the hidden card and hits until 17 or higher.</li>
                <li><strong>HOW TO WIN</strong>: Get closer to 21 than the dealer. Dealer's bust means players win. Same totals tie.</li>
            </ul>
            <p class="lead">Dive in, play smart, and may the odds be ever in your favor!</p>
        </div>
        <div class="col">
            <button class="btn btn-sm btn-dark m-3 mt-1" @onclick="NavigateToBlackjack">PLAY</button>
        </div>
    </div>
</div>

@code {
    string[] unicodeCards = new string[]
    {
        "🂡", "🂢", "🂣", "🂤", "🂥", "🂦", "🂧", "🂨", "🂩", "🂪", "🂫", "🂭", "🂮",  // Spades
        "🂱", "🂲", "🂳", "🂴", "🂵", "🂶", "🂷", "🂸", "🂹", "🂺", "🂻", "🂽", "🂾",  // Hearts
        "🃁", "🃂", "🃃", "🃄", "🃅", "🃆", "🃇", "🃈", "🃉", "🃊", "🃋", "🃍", "🃎",  // Diamonds
        "🃑", "🃒", "🃓", "🃔", "🃕", "🃖", "🃗", "🃘", "🃙", "🃚", "🃛", "🃝", "🃞"   // Clubs
    };
    void NavigateToBlackjack()
    {
        NavManager.NavigateTo("/Blackjack");
    }
}
